#featured {
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .card {
    border-radius: 4px;
    overflow: hidden;
    /*overflow = transbordamento. hidden faz esconder o transbordamento que passar da caixa, com isso, o border-radius passa a funcionar*/
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background-color: white;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }
  }
}